@font-face {font-family: 'Open Sans';
    src: url('../fonts/OS.ttf'), url('../fonts/OS.eot');
    font-style: normal;
    font-weight: normal;
}

@font-face {font-family: 'Open Sans';
    src: url('../fonts/OSSB.ttf'), url('../fonts/OSSB.eot');
    font-style: normal;
    font-weight: 600;
}

@font-face {font-family: 'Open Sans';
    src: url('../fonts/OSB.ttf'), url('../fonts/OSB.eot');
    font-style: normal;
    font-weight: 700;
}

@font-face {font-family: 'Cambria';
    src: url('../fonts/ci.ttf'), url('../fonts/ci.eot');
    font-style: italic;
    font-weight: normal;
}

@font-face {font-family: 'Cambria';
    src: url('../fonts/cbi.ttf'), url('../fonts/cbi.eot');
    font-style: italic;
    font-weight: bold;
}