
.GEO__section-text_east {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 20px 14px;
    font: 20px 'Open Sans';
    color: #000;
    text-decoration: none;
    z-index: 2;
}

