.GEO__article-title {
    font: italic 30px/1 Cambria;
    padding: 34px 30px;
    box-sizing: border-box;
}

.GEO__article-text {
    padding: 0 122px 0 24px;
    box-sizing: border-box;
    font: 16px 'Open Sans';
    background: #fff;
    overflow: auto;
}

.GEO__article-text img {
    display: block;
    max-width: 100%;
    margin: 0 auto 15px;
}

.GEO__article-breadcrumbs {
    display: block;
    padding: 10px 32px;
    background: #fff;
}

.GEO__article-breadcrumbs-item {
    display: inline-block;
    padding: 0 25px 6px 0;
    text-decoration: underline;

    position: relative;
}

.GEO__article-breadcrumbs-item:after {
    display: block;
    width: 16px;
    height: 6px;

    background: url(../images/ico/ico-arrow.png) no-repeat center;

    position: absolute;
    top: 5px;
    right: 2px;

    content: '';
}

.GEO__article-breadcrumbs-item_current {
    display: block;
    text-decoration: none;
    font-weight: 700;
}

.GEO__article-breadcrumbs-item_current:after {
    display: none;
}

.GEO__article-text p {
    padding: 7px 0;
}

.GEO__article-text p:first-child {
    padding: 15px 0 7px;
}

.GEO__article-text p:last-child {
    padding: 7px 0 15px;
}

.GEO__article-list {
    padding: 36px 26px;
    background: #f9e9c7;
    border-radius: 3px;
    margin-bottom: 7px;
}

.GEO__article-list-item {
    padding-bottom: 15px;
    font-style: italic;
}
.GEO__article-list-item:last-child {
    padding-bottom: 0;
}

.GEO__aside {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;

    width: 95px;
    background: #2c2725;

    padding-top: 73px;
}

.GEO__aside-item {
    margin: 18px 0;
    cursor: pointer;
}

.GEO__aside-item-img {
    display: block;
    margin: 0 auto 5px;
}

.GEO__aside-item-txt {
    font: 12px 'Open Sans';
    color: #a89881;
    text-align: center;

    display: block;
    padding: 0 9px;
}

.GEO__aside-item-content {
    display: none;
}

.GEO__slide {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;

    background: #fff;
    transition: right ease .5s;
    overflow: auto;
}

.GEO__slide_active {
    right: 0;
}

.GEO__slide-name {
    position: absolute;
    left: 0;
    top: 0;

    background: #d0c4ae;
    border-radius: 0 5px 0 0;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);

    padding: 5px 9px;
}

.GEO__slide-close {
    position: absolute;
    right: 0;
    top: 0;

    background: url(../images/ico/ico-close.png) no-repeat center, #d0c4ae;
    border-radius: 0 0 0 5px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);

    cursor: pointer;
}

.GEO__slide-name-img {
    display: inline-block;
    vertical-align: middle;

    max-height: 36px;
    margin-right: 8px;
}

.GEO__slide-name-txt {
    display: inline-block;
    vertical-align: middle;

    font: 12px 'Open Sans';
    white-space: nowrap;
}

.GEO__slide .GEO__article-text {
    padding: 0 0 40px;
}

.GEO__slide .GEO__article-text p {
    padding: 11px 24px 11px;
}
