.GEO__main-item-image {
    display: block;
    position: absolute;
    z-index: 1;
}

.GEO__main-item-text {
    display: block;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    padding: 30px 26px 0;

    font: 30px 'Open Sans';
    color: #000;
    text-decoration: none;

    z-index: 2;
}

.GEO__main-item-nav {
    width: 16px;
    height: 14px;
    background: url(../images/ico/ico-nav.png) no-repeat center;

    float: right;
    margin: 12px 10px 0 0;

    cursor: pointer;

    position: relative;
    z-index: 3;
}