
.GEO__section-content {
    padding-top: 117px;
}

.GEO__section-item {
    box-sizing: border-box;
    padding-bottom: 56px;
}

.GEO__section-item-text {
    padding: 20px 14px;

    font: 20px 'Open Sans';
    color: #000;
}

.GEO__section-item-text a {
    text-decoration: none;
}

.GEO__section-content {
    width: auto;
    margin: 0 auto;
}

.GEO__common-icontitle {
    width: auto;
}

@media (min-width: 1024px){

    .GEO__breadcrumbs {
        left: 16px;
    }

    .GEO__section-content,
    .GEO__section-text {
        /*width: 1020px;*/
    }
}