/*Стили вписывания*/

.interaktiv_vpisyvanie p {font-size: 20px;}

.interaktiv_vpisyvanie {
	display: table-cell;
	vertical-align: middle;
}

.write {
	height:1.1em;
	font: 1em Arial;
	width:0.8em;
	min-width:0.5em;
	color: blue;
}

.big .write {
	height:1.6em;
	font-size: 1.5em;
	display: block;
	width:5em;
	min-width:5em;
	color: #000;
}

.big input.write {
	border: 2px solid #888;
	border-radius: 5px;
	padding-left: 0.4em;
	transition: all ease .3s;
}
input.write {
	border: 0 solid #fff;
	transition: all ease .3s;
}

.center {margin: 0 auto; margin-top: 2em;  border-spacing: 1em 0;}

.input_error {color: #d34227 !important; height:1em;}

.input_ready {color: #60bc57 !important; height:1em;}

.big .input_error {border: 2px solid #d34227 !important; color: #000 !important;}

.big .input_ready {border: 2px solid #60bc57 !important; color: #000 !important;}

/*прячу плейсхолдер по клику*/

::-webkit-input-placeholder{
	color:blue;
}
:-moz-placeholder{
	color:blue;
}
:-ms-input-placeholder{
	color:blue;
}

.big ::-webkit-input-placeholder{
	color:#888;
}
.big :-moz-placeholder{
	color:#888;
}
.big :-ms-input-placeholder{
	color:#888;
}

:focus::-webkit-input-placeholder{
	color:transparent;
}
:focus::-moz-placeholder{
	color:transparent;
}
:focus:-ms-input-placeholder{
	color:transparent;
}

.textmeter {
	display: inline-block;
	position: absolute;
	left: -99999px;
	top: -99999px;
}

.margin-fix {
	margin-right: -3px;
}


/*Картинка, если надо*/

img {
	width: 300px;
	display: block;
	margin: 0 auto;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	cursor: pointer;
}