.C__area {
    position: relative;
    margin: 60px auto;
}

.C__background {
    display: block;
    float: left;
}

.C__background img {
    width: auto;
    height: auto;
    margin: 0;
}

.C__drop {
    position: absolute;
}
.C__drop.hover {
    background: rgba(0,0,0,.2);
}

.C__drop.error {
    background: red;
    opacity: .3;
}

.C__vars {
    width: 150px;
    float: right;

    box-sizing: border-box;
    border: 2px solid #97c25a;
    border-radius: 10px;
}

.C__vars-item {
    margin: 10px 3px;
    padding: 3px 0;

    background: #97c25a;
    border-radius: 5px;

    font: 18px Arial;
    text-align: center;
    color: #fff;

    cursor: pointer;
}

.C__drop .C__vars-item {
    display: block;
    background: none;
    color: #000;
    margin: 0;
    padding: 8px 2px;
}

@media (max-width: 1024px) {

    .C__area {
        height: auto !important;
        width: auto !important;
    }

    .C__vars {
        float: none;
        clear: both;
         
        box-sizing: border-box;
        height: auto;
        margin-left: 1%;
    }

    .C__vars-item {
        display: inline-block;
        padding: 7px;
        margin: 7px;
    }
}

@media (min-width: 1024px) {
    .C__vars {
        min-height: 200px;
    }
}